SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=10000

SPRING_DATASOURCE_URL=jdbc:mysql://<HOST>:3306/<DB_NAME>?sslMode=REQUIRED
SPRING_DATASOURCE_USERNAME=<DB_USERNAME>
SPRING_DATASOURCE_PASSWORD=<DB_PASSWORD>
SPRING_DATASOURCE_INITIALIZATION_MODE=never
SPRING_JPA_HIBERNATE_DDL_AUTO=validate

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=<SMTP_USERNAME>
SPRING_MAIL_PASSWORD=<SMTP_PASSWORD_OR_APP_PASSWORD>

APP_CORS_ALLOWED_ORIGIN=https://<YOUR-FRONTEND-DOMAIN>
APP_FRONTEND_URL=https://<YOUR-FRONTEND-DOMAIN>
