<div style="width: 110%; ">
  <div class="modal-header color">
    <h4 class="modal-title">Users</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body color">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Unblock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td><span style="color: white;">{{i+1}}</span></td>
          <td><span style="color: white;">{{user.username}}</span></td>
          <td><span style="color: white;">{{user.firstName}} {{user.lastName}}</span></td>
          <td><span style="color: white;">{{user.email}}</span></td>
          <td *ngIf="!user.enabled"><button type="button" class="btn btn-danger" (click)="unblock(user.username)"
              style="background-color: #F5992E; color: #252D40; border: none;">Unblock</button></td>
          <td *ngIf="user.enabled"><span style="color: white;">Not blocked</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer color">
    <button type="button" class="buttonDetails" (click)="activeModal.dismiss('Cross click')"
      style="float: left;">Close</button>
  </div>
</div>