<div class="modal-header color">
    <h4 class="modal-title">Searching for QR code...</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body color">
    <div class="qr-scan-area">
        <!-- This is the npm package in-charge of scanning the QR -->
        <zxing-scanner
          #scanner
          [(device)]="currentDevice"
          (scanSuccess)="onCodeResult($event)"
        ></zxing-scanner>
        <div class="qr-area">
          <div class="area"></div>
        </div>
      </div><br>
      <small class="small1" *ngIf="alreadyArrived">{{message}}</small>
</div>
<div class="modal-footer color">
    <button type="button" class="buttonDetails" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>