
  @media only screen and (min-width: 768px){
    .row .div1{
        width: 28%;
    }
    .row .div2{
        width: 16%;
        margin-top: 17px;
    }
  }

  .small1{
    color: #F19529;
  }

  .updateDelete{
    margin-right: 5%;
    height: 50%;
  }